.git
.env
.env.*
**/.env
**/.env.*
**/node_modules
**/vendor
**/dist
**/coverage
**/*.log
**/*.tsbuildinfo
src/backend/bootstrap/cache/*.php
src/backend/storage/**
!src/backend/storage/**/
!src/backend/storage/**/.gitignore
.idea
.vscode
.DS_Store
